<h1>Editing Cart</h1>


<%= form_with(model: @camping, local: true) do |form| %>
  <% if @camping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camping.errors.count, "error") %> prohibited this camping from being saved:</h2>

      <ul>
      <% @camping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="form-group">
      <%= form.label :number %>
      <%= form.text_field :number %>
    </div>
    
    <div class="form-group">
      <%= form.label :schedule_dayly %>
      <%= form.text_field :schedule_dayly %>
    </div>
    
    <div class="form-group">
      <%= form.label :adress %>
      <%= form.text_field :adress %>
    </div>

    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', camping_path %>
