
<section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/backgrounds/slider/img-52.jpg); background-position: bottom center;">
    <div class="container">
        <div class="row justify-content-center cols-xs-space">
            <div class="col-lg-6">
                <div class="form-card form-card--style-2 z-depth-2-top">
                    <div class="form-header text-center">
                        <div class="form-header-icon">
                            <i class="icon ion-log-in"></i>
                        </div>
                    </div>

                    <div class="form-body">

                        <div class="text-center px-2">
                            <h4 class="heading heading-4 strong-400 mb-4">Sign in to your account</h4>
                        </div>


                          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                          <%= devise_error_messages! %>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.label :firstname, "Prénom" %>
                                        <%= f.text_field :firstname, class: 'form-control form-control-lg' %>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.label :name, "Nom" %>
                                        <%= f.text_field :name, class: 'form-control form-control-lg' %>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <%= f.label :email %>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.label :password %>
                                        <% if @minimum_password_length %>
                                        <em><small>(<%= @minimum_password_length %> characters minimum)</small></em>
                                        <% end %>
                                        <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-lg' %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <%= f.label :password_confirmation %>
                                        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control form-control-lg' %>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 ">
                                <small class="">By clicking "Sign up" you agree to our terms and conditions</small>
                            </div>
                            <div class="actions">
                            <%= f.submit "Sign up", class: 'btn btn-styled  btn-base-1 mt-4' %>

                          </div>
                            <% end %>

                            <%= render "devise/shared/links" %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
