<%= form_with(model: type_location, local: true) do |form| %>
  <% if type_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_location.errors.count, "error") %> prohibited this type_location from being saved:</h2>

      <ul>
      <% type_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row justify-content-center">
    <div class="col-6">
         
  <div class="form-group">
    <%= form.label :title, "Titre" %> <br/>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :category, "Catégorie"%> <br/>
    <% if cate = @type_location.category %>
      <%= select_tag :category, options_for_select(category_list_select_tag(), cate.id) %>
    <% else %>
      <%= select_tag :category, options_for_select(category_list_select_tag()) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description" %> <br/>
    <%= form.text_area :description %>
  </div>

  <div class="form-group">
    <%= form.label :nb_person, "Nombre de personnes" %> <br/>
    <%= form.number_field :nb_person, min:0 %>
  </div>

  <div class="form-group">
    <%= form.label :nb_emplacement, "Nombre d'emplacement de ce type" %> <br/>
    <%= form.number_field :nb_emplacement, min:0, :value => @type_location.locations.size %>
  </div>

  <div class="form-group">
    <%= form.label :price_per_night, "Prix par nuit" %> <br/>
    <%= form.number_field :price_per_night, min:0 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
</div>
<% end %>