<div class="section-title section-title--style-1 text-center">
    <h3 class="section-title-inner heading-2 strong-400">
        <span>Modifier le type de location</span>
    </h3>
</div>

<%= render 'form', type_location: @type_location %>

<%= link_to 'Show', @type_location %> |
<%= link_to 'Back', type_locations_path %>
