<div class="container">
<p id="notice"><%= notice %></p>

<h1>Type Locations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <tr>
      <th>Titre</th><th>Nombre de personnes</th> <% if admin_signed_in? %><th>Action (visible pour les admins uniquement)</th><% end %>
    </tr>
    <% @type_locations.each do |type_location| %>
      <tr>
        <td><%= link_to type_location.title, type_location %></td>
        <td><%= type_location.nb_person %></td>
        <% if admin_signed_in? %> <td><%= link_to 'Edit', edit_type_location_path(type_location) %> | 
        <%= link_to 'Destroy', type_location, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Location', new_type_location_path if admin_signed_in? %>
</div>