<p id="notice"><%= notice %></p>
<!-- Image -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
    <!-- IMAGE TODO --> 
    <% # = image_tag @room.cover_photo(nil), width: "100%" %> 
    Titre : <%= @type_location.title %> <hr/>
    Description : 
    <%= @type_location.description %> <hr/>
    Prix par nuit : <%= @type_location.price_per_night %> <hr/>
    Nombre de personnes : <%= @type_location.nb_person %> <hr/>
    <% if @type_location.category %> 
        Catégorie : <%= @type_location.category.name %> 
        <hr/>
    <% end %>
    <div class="container">
        <div class="section-title section-title--style-1 text-center">
            <h3 class="section-title-inner heading-2 strong-400">
                <span>Réservation :</span>
            </h3>
        </div>
        <div class="d-flex justify-content-around">
            <div> 
                Date de début: 
                <div id="datepicker_begin"></div>
            </div>
            <div> 
                Date de fin: 
                <div id="datepicker_end"></div>
            </div>
        </div>
        <!-- <div class="row justify-content-md-center">
            <button type="button" class="btn btn-styled btn-primary" id="reserv_button" disabled="true">Réserver</button>
        </div> -->
    </div>

  </div>
</div>
<br/>

<% if admin_signed_in? %>  
    <%= link_to 'Edit', edit_type_location_path(@type_location) %> |
<% end %> 
<%= link_to 'Back', type_locations_path %>
</div>
<script>
    $("#datepicker_begin").datepicker({
        minDate: 0,
        dateFormat: 'dd-mm-yy',
        onSelect: function() { 
            var dateObject = $(this).datepicker('getDate'); 
            // alert('date' + dateObject);
            $.ajax({
              url : "/date_part",
              type : "post",
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data : { data_infos: JSON.stringify(dateObject) }
            });
            $( "#datepicker_end" ).datepicker( "option", "minDate", dateObject );
            $( "#datepicker_end" ).datepicker( "option", "disabled", false );
        }
    });

    $("#datepicker_end").datepicker({
        minDate: 1,
        dateFormat: 'dd-mm-yy',
        disabled: "true",
        onSelect: function() { 
            var dateObject = $(this).datepicker('getDate'); 
            var dateObject_begin = $("#datepicker_begin").datepicker('getDate')
            $.ajax({
              url : "/date_part_2",
              type : "post",
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data : { date_end: JSON.stringify(dateObject), id_type_location: <%= @type_location.id %>, date_begin: JSON.stringify(dateObject_begin) }
            });
        }

    });
</script>