

<!-- Slider -->
                  <div class="rev-slider-outer-wrapper">
<div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-hero39" data-source="gallery">
<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
  <div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
    <ul>
      <li id="rs-2" data-index="rs-2" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../../../assets/images/slider/nature-4-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

        <!-- Vignoble -->
        <div class="tp-caption title--style-1 tp-resizeme" id="slide-2-layer-2"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
          data-fontsize="['70','70','70','40']"
          data-lineheight="['70','70','70','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="image"
          data-responsive_offset="on"
          data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 9;text-transform:left;border-width:0px;">

          <img src="<%= image_path('vignoble.jpg') %>" alt="" data-ww="['100%','100%','100%','100%']" data-hh="['100%','100%','100%','100%']" data-no-retina>
        </div>

        <!-- LAYER NR. 2 -->


        <div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-2-layer-8"
          data-x="['center','center','center','center']" data-hoffset="['50','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
          data-fontsize="['30','30','30','30']"
          data-lineheight="['30','30','30','30']"
          data-width="[300, 300, 300, 300]"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11; white-space: nowrap;text-transform:left;">

          <span class="text-capitalize">Un lieu idéal pour un séjour en famille !</span>

        </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption" id="slide-2-layer-8"
          data-x="['center','center','center','center']" data-hoffset="['150', '200','200','200']"
          data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
          data-width="[300, 300, 300, 300]"
          data-height="none"
          data-whitespace="nowrap"
          data-type="button"
          data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
          data-responsive_offset="on"
          data-responsive="off"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11; white-space: nowrap;text-transform:left;">

          <a href="#" class="btn btn-styled btn-dark btn-outline btn-circle">Réserver mes vacances</a>
        </div>
      </li>

      <li id="rs-1" data-index="rs-1" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="../../../../assets/images/slider/nature-4-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

        <!-- Piscine -->
        <div class="tp-caption title--style-1 tp-resizeme" id="slide-1-layer-2"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
          data-fontsize="['70','70','70','40']"
          data-lineheight="['70','70','70','40']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="image"
          data-responsive_offset="on"
          data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 9;text-transform:left;border-width:0px;">

            <img src="<%= image_path('med.jpg') %>" alt="" data-ww="100%" data-hh="90%" data-no-retina>
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption title--style-1 c-gray-dark tp-resizeme" id="slide-1-layer-7"
          data-x="['center','center','center','center']" data-hoffset="['200','200','200','200']"
          data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-40','-40']"
          data-fontsize="['16','28','28','28']"
          data-lineheight="['28','28','28','28']"
          data-width="[300, 300, 300, 300]"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11; white-space: nowrap;text-transform:left;">

          <span class="strong-500">rapide, simple et efficace</span>

        </div>

        <div class="tp-caption title--style-1 c-gray-dark tp-resizeme" id="slide-1-layer-8"
          data-x="['center','center','center','center']" data-hoffset="['200','200','200','200']"
          data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
          data-fontsize="['30','30','30','30']"
          data-lineheight="['30','30','30','30']"
          data-width="[300, 300, 300, 300]"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11; white-space: nowrap;text-transform:left;">

          <span class="text-capitalize">Nouveau systeme de réservation</span>

        </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption" id="slide-1-layer-8"
          data-x="['center','center','center','center']" data-hoffset="['200', '200','200','200']"
          data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
          data-width="[300, 300, 300, 300]"
          data-height="none"
          data-whitespace="nowrap"
          data-type="button"
          data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
          data-responsive_offset="on"
          data-responsive="off"
          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11; white-space: nowrap;text-transform:left;">

          <a href="#" class="btn btn-styled btn-dark btn-outline btn-circle">En savoir plus</a>
        </div>
      </li>
    </ul>

    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div><!-- END REVOLUTION SLIDER -->

<section class="slice bg-minimalist">
  <div class="container">
    <div class="section-title section-title--style-1 text-center">
      <h3 class="section-title-inner heading-2 strong-400">
        <span>Section title</span>
      </h3>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
</section>

<section class="slice sct-color-1">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-md-6">
                                    <div class="card bg-minimalist">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="<%= image_path('mobile.jpg') %>">
                                            </a>
                                        </div>
                                        <div class="card-body--overlay d-flex align-items-start">
                                            <div class="col">
                                                <div class="px-4 py-4">
                                                    <h3 class="heading heading-4 strong-500 mb-0">
                                                         Mobilehome
                                                    </h3>
                                                    <a href="" class="link link-xs link--style-3 text-capitalize">
                                                        Voir nos hébergements
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card bg-minimalist">
                                        <div class="card-image">
                                            <img src="<%= image_path('emplacement.jpg') %>">
                                        </div>
                                        <div class="card-body--overlay d-flex align-items-start">
                                            <div class="col">
                                                <div class="px-4 py-4">
                                                    <h3 class="heading heading-4 strong-500 mb-0">
                                                        Emplacement
                                                    </h3>
                                                    <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                        Voir nos emplacements
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice bg-minimalist">
                        <div class="container">
                            <div class="row align-items-center mb-5">
                                <div class="col-md-6">
                                    <div class="text-center text-md-left">
                                        <h3 class="heading heading-3 strong-500 text-capitalize">
                                            Featured products
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="text-center text-md-right">
                                        <ul class="inline-links">
                                            <li>
                                                <a href="#" class="active">All</a>
                                            </li>
                                            <li>
                                                <a href="#">Sofas</a>
                                            </li>
                                            <li>
                                                <a href="#">Chairs</a>
                                            </li>
                                            <li>
                                                <a href="#">Decorations</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row-wrapper">
                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Metallic dark table
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">500.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Fabric box chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">630.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Modern white chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">300.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Cinnamon candle
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">75.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        White wooden chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">450.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Decoration set
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">185.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Decorative wood chair
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">200.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="<%= image_path('vignoble.jpg') %>">
                                                </a>
                                            </div>

                                            <div class="block-body px-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Minimalist wall clock
                                                    </a>
                                                </h3>
                                                <div class="price-wrapper">
                                                    <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">200.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <%= render 'layouts/maps' %>
                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 col-md-10">
                                    <!-- About us -->
                                    <h3 class="heading heading-3 strong-500 text-capitalize mb-4">
                                        Vos vacances
                                    </h3>

                                    <p class="c-gray-light line-height-1_8">
                                        Partir en vacances sur la côte d'Azur offre de nombreux avantages ! Soleil, standing, entre mer et montagne, la Provence ne manque pas de charme ! Le Camping Provence, situé sur les hauteurs de Cannes, sur le plateau de Valbonne présente une Provence protégée, aux paysages rythmés par les oliveraies et les pinèdes. Un lieu idéal pour un séjour en famille !
                                    </p>
                                </div>
                            </div>
                            <span class="space-xs-xl"></span>

                            <!-- News -->
                            <h3 class="heading heading-3 strong-500 text-capitalize mb-4">
                                News
                            </h3>
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4">
                                    <div class="card-flip" data-flip-trigger="hover">
                                        <div class="card-front">
                                            <div class="card-image">
                                                <img src="<%= image_path('vignoble.jpg') %>">
                                            </div>
                                        </div>

                                        <div class="card-back bg-white">
                                            <div class="card-body card-body--overlay d-flex border">
                                                <div class="card-body-inner">
                                                    <small class="c-gray-light">Oct 30, 2018</small>
                                                    <h4 class="heading heading-6 strong-500 mt-2 mb-4">Here's a sneak peek in our backstage</h4>
                                                    <p class="text-sm c-gray-light line-height-1_6">
                                                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt...
                                                    </p>
                                                    <a href="#" class="link link-sm link--style-2">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card-flip" data-flip-trigger="hover">
                                        <div class="card-front">
                                            <div class="card-image">
                                                <img src="<%= image_path('vignoble.jpg') %>">
                                            </div>
                                        </div>

                                        <div class="card-back bg-white">
                                            <div class="card-body card-body--overlay d-flex border">
                                                <div class="card-body-inner">
                                                    <small class="c-gray-light">Oct 30, 2018</small>
                                                    <h4 class="heading heading-6 strong-500 mt-2 mb-4">Beautiful interior designs for everyone</h4>
                                                    <p class="text-sm c-gray-light line-height-1_6">
                                                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt...
                                                    </p>
                                                    <a href="#" class="link link-sm link--style-2">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card-flip" data-flip-trigger="hover">
                                        <div class="card-front">
                                            <div class="card-image">
                                                <img src="<%= image_path('vignoble.jpg') %>">
                                            </div>
                                        </div>

                                        <div class="card-back bg-white">
                                            <div class="card-body card-body--overlay d-flex border">
                                                <div class="card-body-inner">
                                                    <small class="c-gray-light">Oct 30, 2018</small>
                                                    <h4 class="heading heading-6 strong-500 mt-2 mb-4">How design will change our future</h4>
                                                    <p class="text-sm c-gray-light line-height-1_6">
                                                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt...
                                                    </p>
                                                    <a href="#" class="link link-sm link--style-2">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <!-- Discount form -->
                            <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-5">
                                    <h3 class="heading heading-3 strong-500 text-capitalize mb-0">
                                        Recevez nos offres spéciales
                                    </h3>
                                    <p class="c-gray-light mb-0">
                                        S'inscrire
                                    </p>
                                </div>

                                <div class="col-lg-7">
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control" placeholder="name@example.com">
                                        <span class="input-group-btn">
                                            <button class="btn btn-base-1" type="button">Subscribe</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
