<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation %>

<%= form_tag charges_path do %>
					<article>
				    	<% if flash[:error].present? %>
				      		<div id="error_explanation">
				        		<p><%= flash[:error] %></p>
				      		</div>
				    	<% end %>
				    	<label class="amount">
				    		<span>Payer</span>
				    	</label>
				  	</article>
					
					<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				        data-name="Réservation camping"
				        data-description="Reservation at <%= Camping.first.name %>"
				        data-amount="<%= amount_for_stripe(@total_price) %>"
				        data-locale="auto"
				        data-currency="eur"
				        data-zip-code="true">
				    </script>
				<% end %>

<%= link_to 'Show', @reservation %> |
<%= link_to 'Back', reservations_path %>
