<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom de l'emplacement </th>
      <th> Date de début de la réservation </th>
      <th> Date de fin de la réservation </th>
      <th> Date de création de la réservation </th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.location.type_location.title %> </td>
        <td><%= reservation.date_begin %> </td>
        <td><%= reservation.date_end %> </td>
        <td><%= reservation.created_at %> </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
