<div class="container">
<div class="section-title section-title--style-1 text-center">
    <h3 class="section-title-inner heading-2 strong-400">
        <span>Réservation</span>
    </h3>
</div>

<div class="row">

  <!-- LEFT PANEL -->
  <div class="col-md-6">
  	<div class="row">
  		<div class="card--hover">
    		<div class="card-body">
        		<h4 class="card-title"><%= @reservation.location.type_location.title %></h4>
        		<div class="row align-items-center">
        			<div class="col">
        				<span class="card-text">Date de début : <%= @reservation.date_begin %></span>
        			</div>
        			<div class="col text-right">
        				<span class="card-text">Date de fin : <%= @reservation.date_end %></span>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
  </div>
  	
  <!-- RIGHT PANEL -->
	  <div class="col-md-6">
  <div class="pricing-plans pricing-plans--style-1">
	<div class="row cols-xs-space cols-sm-space cols-md-space">
	    <div class="block block-pricing">
	        <div class="block-body">
	            <h2 class="plan-title heading-4 text-center strong-600">Prix</h2>
	            <h3 class="price-tag strong-600">
	                <%= @reservation.price %><sup>€</sup>
	            </h3>
	            
	            <%= form_tag reservations_path do %>
					<article>
				    	<% if flash[:error].present? %>
				      		<div id="error_explanation">
				        		<p><%= flash[:error] %></p>
				      		</div>
				    	<% end %>
				  	</article>
					
					<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				        data-name="Réservation camping"
				        data-description="Reservation dans l'établissement <%= Camping.first.name %>"
				        data-amount="<%= amount_for_stripe(@reservation.price) %>"
				        data-locale="fr"
		                data-currency="eur"
                		data-zip-code="true"
                		data-label="Régler la somme"
                		data-billing-address="true">
				    </script>
				<% end %>
	        </div>
	    </div>
	  </div>
	</div>
  </div>
</div>


<%= link_to 'Back', type_locations_path(@type_location) %>
</div>
