<section class="slice-sm sct-color-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-btn {margin-bottom:5px;}
</style>
<div class="col-lg-8">
    <div class="main-content">
        <!-- Page title -->
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                        <a href="#" class="link text-underline--none">
                            <i class="ion-ios-arrow-back"></i> Location
                        </a>
                    </h2>
                </div>
                <div class="col-lg-6 col-12">

                </div>
            </div>
        </div>

        <div class="link-menu link-menu--style-3 py-4 border-bottom">
            <a class<%= link_to 'Clients', user_list_path %></a></a>
            <a class<%= link_to 'Reservations', reservation_path %></a></a>
            <a class<%= link_to 'Locations', user_list_path %></a></a>
            <a class<%= link_to 'Categories', category_path %></a></a>
            <a href="../../pages/profile/account-security.html"class="active">Campings</a>
        </div>

        <button class="w3-btn w3-white w3-border w3-border-blue w3-round-large">Ajouter un camping</button>

        <!-- Order history table -->
        <div class="card no-border">
            <div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Numéro</th>
                            <th>Adresse</th>
                            <th>Ajouté le:</th>

                        </tr>
                    </thead>

                    <tbody>

                        <% @camping.each do |campings| %>
                        <tr>
                            <td>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= campings.id %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= campings.name %></span>
                            </td>

                            <td class="product-name">
                                <span class="pr-4"><%= campings.description %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= campings.number %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= campings.adress %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= campings.created_at %></span>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <a class<%= link_to 'Modifier', edit_camping_path %></a></a>
            </div>
        </div>

    </div>
</div>
</div>
</section>
