<section class="slice-sm sct-color-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-btn {margin-bottom:5px;}
</style>
<div class="col-lg-8">
    <div class="main-content">
        <!-- Page title -->
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                        <a href="#" class="link text-underline--none">
                            <i class="ion-ios-arrow-back"></i> Location
                        </a>
                    </h2>
                </div>
                <div class="col-lg-6 col-12">

                </div>
            </div>
        </div>

        <div class="link-menu link-menu--style-3 py-4 border-bottom">
            <a class<%= link_to 'Clients', user_list_path %></a></a>
            <a class<%= link_to 'Reservations', reservation_path %></a></a>
            <a href="../../pages/profile/account-cards.html" class="active">Locations</a>
            <a class<%= link_to 'Categories', category_path %></a></a>
            <a class<%= link_to 'Campings', campinge_path %></a></a>
        </div>

        <button class="w3-btn w3-white w3-border w3-border-blue w3-round-large">Ajouter une Location</button>


        <!-- Order history table -->
        <div class="card no-border">
            <div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkbox_example_1">
                                    <label></label>
                                </div>
                            </th>
                            <th>Id</th>
                            <th>Prix par nuit</th>
                            <th>Crée le:</th>

                        </tr>
                    </thead>

                    <tbody>

                        <% @location.each do |locations| %>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkbox_example_1">
                                    <label></label>
                                </div>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= locations.id %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= locations.price_per_night %></span>
                            </td>

                            <td class="product-name">
                                <span class="pr-4"><%= locations.created_at %></span>
                            </td>

                        </tr>
                        <% end %>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>
</section>
