
<section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/backgrounds/slider/img-52.jpg); background-position: bottom center;">
    <div class="container">
        <div class="row justify-content-center cols-xs-space">
            <div class="col-lg-6">
                <div class="form-card form-card--style-2 z-depth-2-top">
                    <div class="form-header text-center">
                        <div class="form-header-icon">
                            <i class="icon ion-log-in"></i>
                        </div>
                    </div>

                    <div class="form-body">

                        <div class="text-center px-2">
                            <h4 class="heading heading-4 strong-400 mb-4">Ajouter un camping</h4>
                        </div>


                        <%= form_for @camping do |f| %>
                          <% if @camping.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(event.errors.count, "error") %> prohibited this camping from being saved:</h2>

                              <ul>
                              <% event.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                            <div class="row">

                                <div class="col-md">
                                    <div class="form-group">
                                        <%= f.label :name, "Nom" %>
                                        <%= f.text_field :name, class: 'form-control form-control-lg' %>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md">
                                    <div class="form-group">
                                        <%= f.label :description, "Description" %>
                                        <%= f.text_field :description, class: 'form-control form-control-lg' %>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md">
                                    <div class="form-group">
                                        <%= f.label :number, "Téléphone" %>
                                        <%= f.number_field :number, class: 'form-control form-control-lg' %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md">
                                    <div class="form-group">
                                        <%= f.label :adress, "Adresse" %>
                                        <%= f.text_field :adress, class: 'form-control form-control-lg' %>
                                    </div>
                                </div>
                            </div>


                            <div class="actions">
                            <%= f.submit "Ajouté", class: 'btn btn-styled  btn-base-1 mt-4' %>

                          </div>
                            <% end %>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
