<section class="slice-sm sct-color-1">
<div class="col-lg-8">
    <div class="main-content">
        <!-- Page title -->
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                        <a href="#" class="link text-underline--none">
                            <i class="ion-ios-arrow-back"></i> Clients
                        </a>
                    </h2>
                </div>
                <div class="col-lg-6 col-12">

                </div>
            </div>
        </div>

        <div class="link-menu link-menu--style-3 py-4 border-bottom">
            <a href="../../pages/profile/account-settings.html" class="active">Clients</a>
            <a class<%= link_to 'Reservations', reservation_path %></a></a>
            <a class<%= link_to 'Locations', location_path %></a></a>
            <a class<%= link_to 'Categories', category_path %></a></a>
            <a class<%= link_to 'Campings', campinge_path %></a></a>
        </div>

        <!-- Order history table -->
        <div class="card no-border">
            <div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkbox_example_1">
                                    <label></label>
                                </div>
                            </th>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>email</th>
                            <th>inscrit le:</th>
                            <th>Derniere connection</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% @user_list.each do |client| %>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" name="checkbox_example_1">
                                    <label></label>
                                </div>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= client.id %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= client.name %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= client.firstname %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= client.email %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= client.created_at %></span>
                            </td>
                            <td class="product-name">
                                <span class="pr-4"><%= client.last_sign_in_at %></span>
                            </td>




                        </tr>
                        <% end %>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>
</section>
