<section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/backgrounds/slider/img-52.jpg); background-position: bottom center;">
    <div class="container">
        <div class="row justify-content-center cols-xs-space">
            <div class="col-lg-6">
                <div class="form-card form-card--style-2 z-depth-2-top">
                    <div class="form-header text-center">
                        <div class="form-header-icon">
                            <i class="icon ion-log-in"></i>
                        </div>
                    </div>

                    <div class="form-body">

                        <div class="text-center px-2">
                            <h4 class="heading heading-4 strong-400 mb-4">Connectez-vous !</h4>
                        </div>

                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <%= f.label :email %>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                      <%= f.label :password %>
                                      <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-lg' %>
                                    </div>
                                </div>

                            </div>
                            <% if devise_mapping.rememberable? -%>
                              <div class="field">
                                <%= f.check_box :remember_me %>
                                <%= f.label :remember_me %>
                              </div>
                            <% end -%>
                            <div class="actions">
                            <%= f.submit "Sign up", class: 'btn btn-styled  btn-base-1 mt-4' %>

                          </div>
                            <% end %>

                            <%= render "devise/shared/links" %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
