<!-- FOOTER -->
                  <footer id="footer" class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row cols-xs-space cols-sm-space cols-md-space">
              <div class="col-lg-5">
                  <div class="col">
                      <%= image_tag 'logo2b.png', alt: "logo Campee", height:"30px" %>
                      <span class="clearfix"></span>
                      <span class="heading heading-sm c-gray-light strong-400">Un site. Une infinité de solutions.</span>
                      <p class="mt-3">
                          Notre équipe de développeurs est à votre service pour vos réalisations web et mobile pour votre camping de rêve.
                      </p>

                      <div class="copyright mt-4">
                          <p>
                              Copyright &copy; 2018                                <a href="#" >
                                  <strong>Campee</strong>
                              </a> -
                              All rights reserved
                          </p>
                      </div>
                  </div>
              </div>

              

              <div class="col-lg-2">
                  <div class="col">
                      <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                          Entreprise
                      </h4>

                      <ul class="footer-links">
                           <li>
                               <a href="#" title="Home">
                                   Accueil
                               </a>
                           </li>
                           <li>
                               <a href="#" title="About us">
                           A propos de nous
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Services">
                                   Nos Services
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Blog">
                                   Blog
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Contact">
                                   Contact
                               </a>
                           </li>
                       </ul>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="col">
                      <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                          Suivez-nous sur les réseaux sociaux
                      </h4>

                      <ul class="social-media social-media--style-1-v4">
                          <li>
                              <a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
                                  <i class="fa fa-instagram"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Dribbble">
                                  <i class="fa fa-dribbble"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Github">
                                  <i class="fa fa-github"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
