<!-- Brand/Logo -->
            <a class="navbar-brand" href="<%= root_path %>">

                </a>

<div class="d-inline-block">
    <!-- Navbar toggler  -->
    <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<div class="collapse navbar-collapse align-items-center justify-content-center" id="navbar_main">
<!-- Navbar search - For small resolutions -->
<div class="navbar-search-widget b-xs-bottom py-3 d-lg-none d-none">
<form class="" role="form">
<div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
    <button class="btn btn-base-3" type="button">Go!</button>
    </span>
</div>
</form>
</div>

<!-- Navbar links -->
<ul class="navbar-nav">

<li class="nav-item dropdown megamenu">

<li class="nav-item dropdown megamenu">
<a class="nav-link" href="<%= user_list_path %>">
Admin</a>
</li>


<% if client_signed_in? %>
  <li class="nav-item dropdown megamenu">
    <a class="nav-link"><%= "Bonjour"+" "+ current_client.firstname%></a>
  </li>
  <li class="nav-item dropdown megamenu">
     <a class="nav-link" <%= link_to "Se deconnecter", destroy_client_session_path, method: :delete %>
   </li>
   <% else %>
   <li class="nav-item dropdown megamenu">
     <a class="nav-link" href="<%= new_client_session_path %>">Se connecter</a>
   </li>
   <li cclass="nav-item dropdown megamenu">
     <a class="nav-link" href="<%= new_client_registration_path %>">S'inscrire</a>
   </li>
<% end %>

<div class="dropdown-menu">
    <div class="mega-dropdown-menu row row-no-padding">
        <div class="mega-dropdown-col mega-dropdown-col-cover mega-dropdown-col-cover--left col-lg-5 d-none d-lg-block d-xl-block" style="background-image: url(../../assets/images/prv/other/img-14-1000x900.jpg); background-position: center center;">
            <span class="mask mask-base-1--style-1 alpha-8"></span>
            <div class="mega-dropdown-col-inner d-flex align-items-center no-padding">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="px-4">
                                <h2 class="heading heading-2 strong-600 c-white">
                                    Documentation and Shortcodes
                                </h2>
                                <p class="strong-300 c-white mt-4">
                                    Get started fast and easy with Boomerang using the documentation and shortcode examples. No matter
                                    you are a developer or new to web design, you will
                                    find our theme very easy to customize with
                                    an intuitive HTML markup.
                                </p>
                                <div class="btn-container mt-5">
                                    <a href="../../documentation/getting-started/introduction.html" target="_blank" class="btn btn-styled btn-white btn-outline btn-circle">Read the Docs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 ml-lg-auto">
            <ul class="megadropdown-links">
                <li>
                    <a class="dropdown-item" href="../../documentation/components/alerts.html">
                        Alerts
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/badges.html">
                        Badges
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/buttons.html">
                        Buttons
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/cards.html">
                        Cards
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/collapse.html">
                        Collapse
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/countdown.html">
                        Countdown
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/dropdown.html">
                        Dropdowns
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" href="../../documentation/components/forms.html">
                        Forms
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/instagram.html">
                        Instagram
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/lightbox.html">
                        Lightbox
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/maps.html">
                        Maps
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/masonry.html">
                        Masonry
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-lg-2">
            <ul class="megadropdown-links">
                <li>
                    <a class="dropdown-item" href="../../documentation/components/pagination.html">
                        Pagination
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/progress.html">
                        Progress bars
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/recaptcha.html">
                        Recaptcha
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/content/titles.html">
                        Section titles
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/forms.html#ex_component_sliders">
                        Sliders
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/tabs.html">
                        Tabs
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/components/typed-animations.html">
                        Typed animations
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/headers.html">
                        Headers
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../html/default/sliders/boomerang-slider/index.html">
                        Boomerang slider
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../html/default/sliders/revolution-slider/index.html">
                        Revolution slider
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/footers.html">
                        Footers
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/hero.html">
                        Hero blocks
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-lg-2">
            <ul class="megadropdown-links">

                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/icon.html">
                        Icon blocks
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/jobs.html">
                        Job blocks
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/pricing.html">
                        Pricing blocks
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/product.html">
                        Product blocks
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/real-estate.html">
                        Real-Estate blocks
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/team.html">
                        Team blocks
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/testimonials.html">
                        Testimonial blocks
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" href="../../documentation/blocks/comments.html">
                        Comment blocks
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</li>
</ul>
