<section class="sct-color-1">
    <!-- Map canvas -->
    <div id="google-map">
        <!-- #google-container will contain the map  -->
        <div id="map_canvas" class="map-canvas" ></div>
    </div>
</div>


<!-- Google maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBuyKngB9VC3zgY_uEB-DKL9BKYMekbeY&callback=initMap" type="text/javascript"></script>
<script src="../../assets/js/google-maps/google-maps-blue.js"></script>
