<!DOCTYPE html>
<html>
  <head>
    <title>Campee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="/assets/mystyle.css" media="screen" rel="stylesheet" />

    <link href="https://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <%= favicon_link_tag 'favicon2.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

  <div class="container">
  </div>

  <div class="body-wrap shop-default shop-minimalist">
    <div id="st-container" class="st-container">
      <div class="st-pusher">
        <div class="st-content">
          <div class="st-content-inner">

              <!-- Header -->
            <div class="header">
              <!-- Navbar -->
                  <nav class="navbar navbar-expand-lg navbar--bold navbar--style-2 navbar-light bg-default  navbar--bb-1px">
                  <div class="container navbar-container">

                  <%= render 'layouts/header' %>

                  <div class=" d-none d-lg-inline-block d-xl-inline-block">
                  <ul class="navbar-nav ml-auto" data-hover="dropdown">
                  </ul>
                                </div>

                              </div><!-- END: container -->
                            </nav><!-- END: navbar -->
                          </div><!-- END: header -->

                          <%= yield %>
                  <%= render 'layouts/footer' %>

                </div><!-- END: st-content-inner -->
              </div><!-- END: st-content -->
            </div><!-- END: st-pusher -->
          </div><!-- END: st-container -->
        </div><!-- END: body-wrap -->


<% unless flash.empty? %>
     <script type="text/javascript">
          <% flash.each do |f| %>
	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	     	 toastr['<%= type %>']('<%= f[1] %>');
	   <% end %>
     </script>
<% end %>


      </body>
    </html>
